---
---

@import "{{ site.theme }}";

.sidebar {
  @include clearfix();
  @include breakpoint(max-width $large) {
    /* fix z-index order of follow links */
    position: relative;
    z-index: 10;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  @include breakpoint($large) {
    float: left;
    width: calc(#{$right-sidebar-width-narrow} - 1em);
    opacity: 0.75;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &.sticky {
      overflow-y: auto;
      /* calculate height of nav list
         viewport height - nav height - masthead x-padding
      */
      height: calc(100vh - #{$nav-height} - 2em);
    }
}