<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="http://bbenchoff.github.io">
	<h1>{{ site.title | default: site.github.repository_name }}</h1>
	<hr>
	<br><H2>
	Contact
	</H2>
        <i class="fas fa-envelope-square"></i>
        <a href="mailto:benchoff@gmail.com">Email</a>
        <br><i class="fab fa-twitter-square"></i>
        <a href="https://twitter.com/BBenchoff">Twitter</a>
        <br><i class="fab fa-github-square"></i>
        <a href="https://github.com/bbenchoff">Github</a>
	<br><i class="fab fa-linkedin-square"></i>
	<a href="https://www.linkedin.com/in/bbenchoff/">LinkedIn</a><br><hr>

	<hr><br><a href="https://github.com/bbenchoff/CV/blob/main/Brian%20Benchoff%20-%20Resume.pdf">Résumé (PDF)</a><br>
        <br><hr>

	<H3>Weird Stuff</H3>

	<a href="https://bbenchoff.github.io/pages/Citicar.html">Electric Car Restoration</a><br>
	<a href="https://www.instagram.com/640by480/">An Instagram shot on a digital camera from 1994</a><br>
	
	<br><hr>
	<H3>Electronics / Product Design</H3>
	<a href="http://bbenchoff.github.io/pages/dumb.html">Portable Dumb Terminal</a><br>
	<a href="http://bbenchoff.github.io/pages/MrRobot.html">Mr. Robot Badge</a><br>
        <a href="http://bbenchoff.github.io/pages/atapi.html">Zip Drive Tower</a><br>
	<a href="http://bbenchoff.github.io/pages/colorPCB.html">Full Color Circuit Boards</a><br>
	<a href="http://bbenchoff.github.io/pages/RGBgaming.html">RGB Gaming Coaster</a><br>
	<a href="http://bbenchoff.github.io/pages/FidgetSpinner.html">Serial Fidget Spinner</a><br>
	<a href="http://bbenchoff.github.io/pages/BaudBox.html">Baud Box</a><br>
	<a href="http://bbenchoff.github.io/pages/ShittyWall.html">A Wall of Circuit Boards</a><br>

	<br><hr>
	<H3>Firmware Development</H3>
	<a href="http://bbenchoff.github.io/pages/IS31FL3741.html">IS31FL3741 LED driver library</a><br>
	<a href="http://bbenchoff.github.io/pages/NT35510.html">NT35510 TFT driver library</a><br>
	<a href="http://bbenchoff.github.io/pages/parser.html">Terminal Parser library</a><br>

	<br><hr>
	<H3>CAD Design</H3>
	<a href="http://bbenchoff.github.io/pages/keyboard.html">Silicone Membrane Keyboard</a><br>
	<a href="http://bbenchoff.github.io/pages/Palmtop.html">Injection Molded Palmtop</a><br>
	<a href="http://bbenchoff.github.io/pages/MiniITX.html">Retro-inspired industrial design</a><br>
	<a href="https://bbenchoff.github.io/pages/BeBox.html">A Modern BeBox</a><br>
	<a href="http://bbenchoff.github.io/pages/clamshell.html">Hardened clamshell computer</a><br>
	<a href="http://bbenchoff.github.io/pages/Porygon.html">Porygon</a><br>
	

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>


      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>